table  {
     border: 1px solid silver
	 }
	 td: hover  {
	 background-color : gold;
	 color: black;
	 }
	 
	 tr, th {background-color:black;
	 color : red;
	 }
	 
	 tr, td {
	 background-color:green;
	 color:yellow
	 }
	 
	 <link rel-"stylesheet" type="text/css" href="css_table.css">